* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    outline: none;
}

body {
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}

.container {
    width: 700px;
    margin: 20px auto;
    border: 10px solid #fff;
    box-shadow: 0 0 0 10px #ccc;
    border-radius: 10px;
}

.mapa img {
    border-radius: 10px;
    max-width: 100%;
}

.mapa h1::after {
    content: "";
    width: 10vw;
    height: 1vh;
    background: #ccc;
    display: flex;
}

.mapa h1 {
    font-size: 2.5vw;
}

.mapa ul li {
    margin: 10px;
    display: block;
    margin-left: 10px;
}

.modal {
    width: 100vw;
    height: 100vh;
    border: 2px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, .5);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 10px white;
}

.modal-dialog {
    position: relative;
    background: #fff;
    width: auto;
    min-width: 100px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}

.area_mapa {
    cursor: pointer;
}

.close {
    position: absolute;
    cursor: pointer;
    right: -10px;
    top: -10px;
    width: 25px;
    height: 25px;
    font-size: 22px;
    border-radius: 50px;
    border: 1px solid #ccc;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.show .modal-dialog {
    animation: modal .3s;
}

.modal-body {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    height: 100%;
}

.modal.show {
    display: flex;
}

.hide {
    display: none;
}

footer .container {
    border: none;
    box-shadow: none;
}

footer {
    background: rgb(53, 53, 53);
    display: flex;
    margin-top: 60px;
}

footer h3,
footer h4 {
    color: #fff;
    margin-bottom: 10px;
}

footer h4 {
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding-top: 20px;
}

footer {
    color: #fff;
}

footer a {
    color: #fff;
}

.map_mobile {
    width: 100%;
}

.map_mobile .container {
    width: 320px;
    margin: 0 auto;
}

.mobile_maps ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.mobile_maps li {
    flex: 1 1 40%;
    margin: 5px;
    list-style-type: none;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffff87;
}

.mobile_maps li a {
    text-decoration: none;
    outline: none;
    color: #000;
    font-size: min(14px, 4vw);
    font-weight: 700;
    font-style: italic;
}

.mobile_maps {
    background: url(../../src/img/mapadasregioesdobrasil.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center center;
    background-attachment: fixed;
}

.map_mobile {
    display: none;
}

@media (max-width:720px) {
    .map_mobile {
        display: block;
    }
    .conteiner {
        padding: 10px;
    }
    .modal-dialog {
        min-height: 75%;
    }
    iframe.modal_mapa {
        width: 100%;
    }
    footer .container {
        padding: 10px;
        text-align: justify;
    }
    .modal {
        padding: 15px;
    }
    .container {
        display: none;
    }
}


/*
.map_mobile li a#mb_pa {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_pa {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_sc {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_rs {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_rj {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_es {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_go {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_df {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_mt {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_ba {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_se {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_al {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_pe {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_rn {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_pb {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_ce {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_pi {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_ma {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_to {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_pa {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_ap {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_rr {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_am {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_ac {
    background-position: 37% 80%;
    background-size: 371px;
}

a#mb_ro {
    background-position: 37% 80%;
    background-size: 371px;
}
*/